
div.sparql-query-text div.grippie {
  display: none;
}

div.sparql-query-debug {
  float: left;
}

div.sparql-query-button {
  position: absolute;
  right: 35px;
  margin-top: 3px;
}

div.sparql-query-time {
  margin-top: 12px;
}
